@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');

li,
a,
link {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

.mainlogin {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}


.logoanimation-container {
    grid-column: 1;
    position: relative;
    height: 100%;
}

.logoanimation-container .logo {
    transform: translate(9rem, 22rem);
}


.logoanimation-container .animated-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logoanimation-container .animated-text span h1{
    font-family:"Poppins" ;
    font-size: 3rem;
    font-weight: 900;
}


@keyframes jump {

    5% {
        transform: translate(0, -40px);
      }

    8% {
        transform: translate(0, 10px);
    }  

    11% {
        transform: translate(0, -20px);
    }

    14% {
        transform: translate(0, 5px);
    }

    17% {
        transform: translate(0, -10px);
    }

    20% {
        transform: translate(0, -0px);
    }

    23% {
        transform: translate(0, -5px);
    }

    26% {
        transform: translate(0, -0px);
    }


    }

.animated-text span {
    display: inline-block;
    width: 1em;
    text-align: center;
    animation: jump 5.5s linear infinite;
    margin: 0 1em;
    /* Add space between letters */
}

.animated-text span:nth-child(1) {
    animation-delay: 1s;
}

.animated-text span:nth-child(2) {
    animation-delay: 1.5s;
}

.animated-text span:nth-child(3) {
    animation-delay: 2s;
}

.animated-text span:nth-child(4) {
    animation-delay: 2.5s;
}

.animated-text span:nth-child(5) {
    animation-delay: 3s;
}

.animated-text span:nth-child(6) {
    animation-delay: 3.5s;
}

.animated-text span:nth-child(7) {
    animation-delay: 4s;
}

.login-container {
    grid-column: 2;
}


@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}

.logo svg {
    animation: rotate 8s linear infinite;
    /* transform: translate(5rem, -5rem); */
}

.login-container {
    background: #EBD96B;
    padding-left: 4rem;    
}

.navbar {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    transform: translate(-3rem,1rem);
}

.menu li a {
    padding: 0.5rem;
    font-size: small;
    font-family:"Poppins";
    color: black;
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    padding: 0.5rem;
    font-size: medium;
    font-family:"Poppins";
    color: white;
    transition: all 0.3s ease 0s;
}

.medias{
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.loginbox {
    margin-top: -7rem;
    font-family:"Poppins";
    transform: translateY(9rem);
}

.loginbox h1 {
    font-family:"Poppins";
    font-size: 2rem;
}

.loginbox input{
    width: 20rem;
    height: 2.5rem;
    font-family:"Poppins";
    font-weight: 300;
    border: none;
    border-radius: 10px;
}

.loginbox .submit {
    width: 6rem;
    height: 2.5rem;
    background-color: black;
    color: white;
    transition: all 0.3s ease 0s;
    transform: translate(-20.5rem, 3.5rem);
    
}

.loginbox .submit:hover {
    width: 6rem;
    height: 2.5rem;
    border-radius: 25px;
    background-color: black;
    color:#EBD96B;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    transform: translate(-20.5rem, 3.5rem);
}

.loginmore{
    margin-top: 4rem;
    transform: translateY(9rem);
}

.loginmore a{
    margin-top: 1rem;
    font-size: small;
}

.loginmore p{
    font-family:"Poppins" ;
    font-size: small;

}

.loginmore h3 {
    font-family:"Poppins" ;

}



