/* responsive */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

li,
a,
link {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

/* header start */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 7rem;
    height: auto;
}

header nav {
    display: none;
}

header button {
    width: 7rem;
    height: 1.8rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1rem;
}

/* header end */
/* main banner start */
