@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

li,
a,
link {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

/* header navbar start */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
    height: fit-content;
}

header img {
    width: 10rem;
    height: auto;
    margin-right: auto;
}

header ul li {
    display: inline-block;
    margin-right: 1.8rem;
    transform: translate(11rem);
}

header ul li a {
    color: black;
    font-family: "Poppins";
    font-size: 1rem;
    transition: all 0.3s ease 0s;
}

header ul li a:hover {
    color: #EBD96B;
    font-family: "Poppins";
    font-size: 1rem;
    transition: all 0.3s ease 0s;
}

header button {
    width: 7rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 0.3s ease 0s;
    border: none;
}

header button:hover {
    width: 7rem;
    height: 2.5rem;
    /* w/h 2.16 */
    border-radius: 25px;
    background-color: black;
    color: #EBD96B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.5s ease 0s;
    border: none;
}

/* header navbar end */
/* main banner start */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/background/backgroundgray.svg) no-repeat center;
    background-size: 70% auto;
    transform: translateY(-3%);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    transform: translate(35%);

}

.slogan p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10%;
    transform: translate(-5%);
}

.shopping img {
    width: 8rem;
    height: auto;
    margin-top: -3rem;
    transform: translate(-25%);
}

.text ul li {
    font-size: 1.5rem;
    font-weight: 900;
    margin: -18%;
    margin-top: 2rem;
    padding: -0.5rem;
}

.text ul li:nth-child(1) {
    background: url(../images/background/whiterectangle.png) no-repeat;
    background-size: 15rem 3.7rem;

}

.text ul li:nth-child(3) {
    background: url(../images/background/yellowrectangle.png) no-repeat;
    background-size: 15rem 3.7rem;
}

.shopping button {
    margin-bottom: 1rem;
    width: 7.5rem;
    height: 3rem;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 0.3s ease 0s;
    border: none;
    transform: translate(-20%);
}

.shopping button:hover {
    width: 7.5rem;
    height: 3rem;
    border-radius: 25px;
    background-color: black;
    color: #EBD96B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.5s ease 0s;
    transform: translate(-10%);
}

.bannergirl {
    margin-top: 3rem;
    width: 30rem;
    height: auto;
    transform: translate(-25%);
}

/* main banner end */
/* main brandbar start */

.brandbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #EBD96B;
    padding: 30px 10%;
    height: 5rem;
    margin-top: 2rem;
    transform: translateY(-28%);
}

.brandbar img {
    display: inline-block;
    margin: 2.5rem;
}

.brandbar img:nth-child(1) {
    width: 3.5rem;
    height: auto;
    transform: translateY(-2.5rem);
    margin-left: 2rem;
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(1):hover {
    width: 3.5rem;
    height: auto;
    transform: translateY(-3rem);
    margin-left: 2rem;
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(2) {
    width: 5rem;
    height: auto;
    transform: translateY(-2.3rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(2):hover {
    width: 5rem;
    height: auto;
    transform: translateY(-2.8rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(3) {
    width: 8rem;
    height: auto;
    transform: translateY(0.2rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(3):hover {
    width: 8rem;
    height: auto;
    transform: translateY(-0.6rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(4) {
    width: 7rem;
    height: auto;
    transform: translateY(-1.5rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(4):hover {
    width: 7em;
    height: auto;
    transform: translateY(-2rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(5) {
    width: 6rem;
    height: auto;
    transform: translateY(-2rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(5):hover {
    width: 6rem;
    height: auto;
    transform: translateY(-2.5rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(6) {
    width: 6rem;
    height: auto;
    transform: translateY(-2.5rem);
    transition: all 0.5s ease 0s;
}

.brandbar img:nth-child(6):hover {
    width: 6rem;
    height: auto;
    transform: translateY(-3rem);
    transition: all 0.5s ease 0s;
}

/* main brandbar end */
/* main cardboard start */

.cardboard {
    display: flex;
    flex-direction: column;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.cdtitle h2 {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 900;
    background: url(../images/deco/yellowleaf.png) no-repeat left;
    background-size: 6rem auto;
    background-position: 6rem 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    transform: translate(-27rem);
}


.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.cards .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.cards svg {
    transform: translate(18rem, -2rem);
}

.cards img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: auto;
    border: none;
    transition: all 0.5s ease 0s;
}

.cards img:hover {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: auto;
    border: 2rem;
    transform: translateY(-1rem);
    transition: all 0.5s ease 0s;
}

/* main cards end */
/* main event start */

.event {
    background: url(../images/banner/event.png) no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem;
}

.event div {
    transform: translate(20rem);
}

.event ul {
    margin-bottom: 4rem;
}

.event ul li {
    font-family: "Poppins";
    font-size: 2rem;
    font-weight: 900;
}

.event ul li:nth-child(1) {
    background: url(../images/background/whiterectangle.png) no-repeat;
    background-size: 24rem 5.5rem;
    margin-top: 5rem;
}

.event p {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 500;
    padding: -2rem;
    transform: translateY(-3rem);
}

.event .time {
    font-weight: 900;
    margin-top: 1rem;
}

.event button {
    width: 10rem;
    height: 3.5rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    transition: all 0.3s ease 0s;
    border: none;
    transform: translateY(4rem);
    transform: translate(11rem);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.event button:hover {
    width: 10rem;
    height: 3.5rem;
    /* w/h 2.16 */
    border-radius: 25px;
    background-color: black;
    color: #EBD96B;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    transition: all 0.5s ease 0s;
    transform: translateY(4rem);
    transform: translate(11rem);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* main event end */
/* main favourite start */

.favourite {
    display: flex;
    flex-direction: column;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.favourite h2 {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 900;
    background: url(../images/deco/yellowleaf.png) no-repeat left;
    background-size: 7rem auto;
    background-position: 8rem 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    transform: translate(-27rem);
}

.favcard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.favcard img {
    width: 33rem;
    height: auto;
    transition: all 0.5s ease 0s;
    margin-bottom: 1rem;
}

.favcard img:hover {
    width: 33rem;
    height: auto;
    transform: translateY(-1rem);
    transition: all 0.5s ease 0s;
    margin-bottom: 1rem;
    
}

.favcard svg {
    transform: translate(31rem, -2rem);
}

.favcard1 {
    
    margin-right: 1.5rem;
}

.favcard2 {
    margin-left: 1.5rem;
}

/* main favourite end */
/* main download start */

.download {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.download h2 {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.dlleft {
    transform: translate(10%, 30%);
    margin-right: 3rem;
    padding: 1rem;
}

.dlleft p {
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.dlleft .downloadbutton img {
    width: 8rem;
    height: 2.6rem;
}

.dlright img {
    width: 30rem;
    transform: translate(-25%);
}

/* main download end */
/* main join us start */

.joinus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #E5C643;
    color: aliceblue;
    transform: translateY(16%);

}

.joinus h2 {
    text-align: center;
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.joinus p {
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.joinus input {
    width: 22rem;
    height: 3rem;
    border: none;
    margin-bottom: 4rem;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 300;
}

.joinus button {
    width: 5.5rem;
    height: 2.4rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 0.3s ease 0s;
    border: none;
    transform: translate(8rem, -6.7rem);
}

.joinus button:hover {
    width: 5.5rem;
    height: 2.4rem;
    border-radius: 25px;
    background-color: black;
    color: #EBD96B;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.5s ease 0s;
    transform: translate(8rem, -6.7rem);
}

/* main join us end */
/* footer bottom start */

footer {
    background-color: black;
    color: white;   
    padding-top: 5rem;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 6rem;
}

.bottom h2 {
    text-align: left;
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 2rem;
}

.bottom p {
    text-align: left;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 2rem;
}

.bottom .medias ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    transform: translate(-1rem);
}

.bottom img {
    width: 3rem;
    height: auto;
}

.contactlist {
    display: flex;
    justify-content: space-between;
}

.company,
.quicklink,
.legal{
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    font-size: 1rem;
    font-weight: 300;  
}

.company ul li{
    padding-bottom:2rem;
}   

.company ul li:nth-child(1) {
    font-weight: bold;
}

.quicklink ul li {
    padding-bottom:2rem;
}

.quicklink ul li:nth-child(1) {
    font-weight: bold;
}
 
.legal ul li {
    padding-bottom:2rem;
}

.legal ul li:nth-child(1) {
    font-weight: bold;
}
